{% include "base/base.html" %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Enviar Arquivo</title>
</head>
<body>
    <h1>Enviar Novo Arquivo</h1>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="nome_arquivo">Nome do Arquivo:</label>
        <input type="text" id="nome_arquivo" name="nome_arquivo"><br><br>
       
        <label for="url_arquivo">URL do Arquivo:</label>
        <input type="text" id="url_arquivo" name="url_arquivo"><br><br>
       
        <input type="file" id="file" name="file"><br><br>
       
        <input type="submit" value="Enviar">
    </form>
</body>
</html>


