{% include "base/base.html" %}
{% include "base/menu.html" %}

<br><br>
<form class="form_container" method="post" enctype="multipart/form-data">
    <h1>Upload de Arquivo</h1>
    {% csrf_token %}
    <div class="div_formulario">
        <label for="nome_arquivo">Nome do Arquivo:</label>
        <input type="text" id="nome_arquivo" name="nome_arquivo"><br><br>
        <label for="url_arquivo">URL do Arquivo:</label>
        <input type="text" id="url_arquivo" name="url_arquivo"><br><br>
        <input type="file" id="file" name="file"><br><br>
    </div>
    <div class="button_enviar_arquivo">
        <input type="submit" value="Enviar Arquivo" width="70px"><br>
    </div>
</form>
<br><br><br><br>
{% include "base/footer.html" %}