<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<style>
    .teste{
       
        text-align: center;
        justify-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        background-color: rgb(136, 136, 211);
    }
    body{
        background-color: aquamarine;
    }
</style>
<header class="teste">
    <h1>Fazer upload</h1>
</header>
<body>
</body>
</html>