/* Base.html */
header {
    top: 0;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(136, 136, 211);
}

body,html{
    background-color: rgb(158, 201, 186);
    box-sizing: border-box;
    margin: 0;
    left: 0;
    right: 0;
}

footer{
    background-color: rgb(108, 108, 216);
    text-align: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 0;
    width: 100%;
    bottom: 100;
}

/*VISUALIZAR.HTML*/

.visualizar_arquivos{
    background-color: azure;
    width: 100%;
    padding-left: 10px;
    padding-top: 0;
    justify-content: center;
    margin: auto;
}

    .visualizar_arquivos img{
        padding-left: 15px;
    }
    .visualizar_arquivos h1{
        width: 100%;
        text-align: center;
    }
    .visualizar_arquivos table{
        justify-items: center; /* Centraliza horizontalmente */
        align-items: center;  /* Centraliza verticalmente */
    }
    .visualizar_arquivos_table{
        background-color: aqua;
        min-width: 500px;
        width: 30%;
        align-items: center;
        border-collapse: collapse;
    }

/* PARTE DO MENU */
.alinhar_menu {
    background-color: rgb(126, 153, 99);
    display: flex; /* Usar flexbox para alinhar itens lado a lado */
    justify-content: center; /* Centralizar os itens no menu */
    list-style-type: none; /* Remover os marcadores de lista */
    box-shadow: 0px 0px 5px;
    padding: 2px;
    margin: -17px;
    font-size: 20px;
    font-weight: 600;
}

    .alinhar_menu a{
        transition: background-color 0.3s, color 0.3s
    }
        .alinhar_menu a:hover{
            background-color: rgb(156, 182, 130);
        }

    .alinhar_menu li {
        margin: 0 10px; /* Espaçamento entre os itens */
    }

    .alinhar_menu a {
        text-decoration: none; /* Remover sublinhado dos links */
        color: #000; /* Cor do texto */
        padding: 10px 20px; /* Espaçamento interno dos links */
        display: block; /* Para que os links ocupem todo o espaço do item da lista */
    }

/* PARTE DO UPLOAD */

.form_container {
    background-color: cadetblue;
    width: 600px;
    display: block;
    margin: auto;
    padding: 5px;
    box-shadow: 0px 0px 4px;
}
    .form_container h1 {
        text-shadow: 0px 0px 1px rgb(0, 0, 0);
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
    }

.div_formulario {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: 900;
    margin: auto;
    width: 75%;
    padding: 15px;
    border-radius: 7px;
    background-color: rgb(122, 178, 180);
}

    .div_formulario label {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        font-weight: 900;
    }

    .div_formulario input {
        font-size: 20px;
        width: 50%;
        height: 20px;
    }

        .div_formulario input[type="file"]{
            font-size: 15px;
            height: 25px;
            width: 100%;
        }

    .button_enviar_arquivo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0; /* Para dar algum espaçamento ao redor do botão */
    }

    .button_enviar_arquivo input {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(143, 189, 190);
        font-size: 20px;
        font-weight: 600;
        width: 200px; /* Ajusta a largura do botão ao conteúdo */
        height: 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px;
    }
        .button_enviar_arquivo input:hover {
            background-color: rgb(164, 211, 212);
            cursor:pointer;
            pointer-events:initial;
        }